.input-box{
  display: flex;
  flex-direction: column;
  row-gap: rem(5);
  &.error{
    input{
      border-color: #FB3030;
      color: #FB3030;
    }
    label{
      color: #FB3030;
    }
    input+p{
      color: #FB3030;
      font-weight: 400;
      font-size: rem(13);
      line-height: 143%;
      text-align: right;
    }
  }
  input{
    transition: border-color 0.3s ease;
    padding: rem(16) rem(20);
    border: 1px solid #A0A0A0;
    border-radius: 4px;
    outline: none;
    color: #363636;
    letter-spacing: 0.018em;
    font-weight: 400;
    font-size: rem(18);
    line-height: 143%;
    &:focus{
      border-color: #131AC8;
    }
  }
  label{
    font-weight: 500;
    font-size: rem(16);
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #A0A0A0;
  }
}
