.promotion {

}
.promotion-products {
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 30, 10);
  }

  &__box {
    display: flex;
    @media(max-width:$mobile){
      flex-direction: column;
      row-gap: rem(12);
    }
    column-gap: rem(46);
  }

  &__filter {
    background-color: #F1F1F6;
    border-radius: 12px;
    flex: 0 0 rem(258);
    align-self: flex-start;
    @media(max-width:$mobile){
      flex: 0 0 auto;
      width: 100%;
    }
  }
  
  &__filter-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(8) rem(22);
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    svg{
      width: rem(22);
      height: rem(22);
      path{
        transition: fill 0.3s ease;
      }
    }
   
    &.active{
      background-color: #564696;
      color: #FFFFFF;
      svg path{
        fill: #FFFFFF;
      }
    }
  }
  &__filter-subitems{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background-color: #F1F1F6;
    padding: rem(10);
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    text-indent: rem(10);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    color: #0d0a0a;
    .active &{
      opacity: 1;
      pointer-events: auto;
    }
  }
  &__filter-subitem{
    &:not(:last-child){
      margin-bottom: rem(10);
    }
    &.active{
      text-decoration: underline;
    }
  }
  &__items-box {
    flex: 1 1 auto;
  }

  &__items {
    @media(min-width:$mobile){
      @include gridCards(fit, 300px, 1fr, 10px);
    }
    @media(max-width:$mobile){
      @include gridCards(fit, 160px, 1fr, 10px);
    }
    margin-bottom: rem(30);
  }
}
