@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../../fonts/Gilroy/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Onest;
  font-display: swap;
  src: url("../../fonts/Onest/OnestThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Onest;
  font-display: swap;
  src: url("../../fonts/Onest/OnestLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Onest;
  font-display: swap;
  src: url("../../fonts/Onest/OnestRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Onest;
  font-display: swap;
  src: url("../../fonts/Onest/OnestMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Onest;
  font-display: swap;
  src: url("../../fonts/Onest/OnestBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Onest;
  font-display: swap;
  src: url("../../fonts/Onest/OnestExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Onest;
  font-display: swap;
  src: url("../../fonts/Onest/OnestBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
