.first-screen {
  z-index: 1;
  &__container {
    position: relative;
  }
  &__slider{
    position: relative;
    .swiper-pagination-bullets{
      @media(min-width:$mobile){
        position: absolute;
        bottom: rem(-46);
        padding: 0 rem(15);
        border-width: 0px 1px 1px 1px;
        border-style: solid;
        border-color: rgba(33, 33, 33, 0.2);
        border-radius: 16px;
      }
      @media(max-width:$mobile){
        margin-top: rem(12);
        padding: 0 rem(18);
      }
      display: flex;
      justify-content: center;
      @include adaptiveValue("column-gap", 14, 5);
      width: 100%;
    }
    .swiper-wrapper{
      z-index: 1;
    }
    .swiper-slide{
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;
    }
  }
  &__slider-img{
    position: relative;
    @include adaptiveValue("padding-bottom", 420, 190);
    border-radius: 11px;
    overflow: hidden;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }
  &__slider-pagination{
    font-weight: 500;
    font-size: rem(16);
    line-height: math.div(20,16);
    color: rgba(33, 33, 33, 0.6);
    @media(min-width:$mobile){
      padding: rem(40) rem(0) rem(13);
    }
    &.swiper-pagination-bullet-active{
      color: #212121;
      text-decoration: underline;
    }
    &_mobile{
      height: 1px;
      width: rem(25);
      transition: background-color 0.3s ease;
      background-color: #B4B4B4;
      &.swiper-pagination-bullet-active{
        background-color: #3C3C3C;
      }
    }
  }
}
