.interesting {
  &__container {
  }

  &__header {
    margin-bottom: rem(30);
  }

  &__title {
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include adaptiveValue("gap", 10, 18);
  }

  &__grid-item {
  }
}
