.main-search {
  &:before{
    content: "";
    position: absolute;
    width: 150vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    z-index: 3;
    left: -50%;
    bottom: 0;
    transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }
  .search-show-results & {
    .header-menu__list-submenu{
      opacity: 1;
      pointer-events: auto;
    }
    &:before{
      opacity: 1;
    }
  }
  &__bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
  }
  &__input-box {
    display: flex;
    align-items: center;
    position: relative;
    input{
      padding: rem(15) rem(25);
      flex: 1 1 auto;
      background-color: #F4F7FA;
      border-radius: 10px;
      height: rem(50);
      outline: none;
      border: 1px solid transparent;
      transition: border-color 0.3s ease;
      &:focus{
        border-color:  #131AC8;
      }
      @media(max-width:$mobile){
        padding: 0;
        padding-left: rem(30);
        font-size: rem(16);
        &::placeholder{
          font-size: rem(12);
        }
      }
    }
  }

  &__submit {
    position: absolute;
    right: rem(2);
    top: rem(2);
    padding: rem(9) rem(13);
    background-color: #564696;
    border-radius: 4px 10px 10px 4px;
    @media(max-width:$mobile){
      background-color: rgba(0,0,0,0);
      padding: 0;
      top: 50%;
      transform: translateY(-40%);
      left: rem(9);
      right: initial;
      svg{
        width: rem(14);
        height: rem(14);
      }
      svg path{
        fill: #A8ADBB;

      }
    }
  }
}
