.profile-aside {
  &__menu {
    padding: rem(35) rem(44);
    background-color: #FFFFFF;
    box-shadow: -1px 2px 13px rgba(206, 203, 214, 0.25);
    border-radius: 7px;
  }

  &__menu-list {
    display: flex;
    flex-direction: column;
    row-gap: rem(12);
    &:nth-child(2){
      padding: rem(34) 0;
      border-bottom: 1px solid #DFDFDF;
      border-top: 1px solid #DFDFDF;
    }
    &:not(:last-child){
      margin-bottom: rem(28);
    }
  }

  &__menu-list-item {
  }

  &__menu-avatar {
    display: flex;
    align-items: center;
    column-gap: rem(24);
  }

  &__menu-avatar-image {
    position: relative;
    padding-bottom: rem(60);
    flex: 0 0 rem(60);
    border-radius: 50%;
    overflow: hidden;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }

  &__menu-avatar-name {
    font-weight: 500;
    font-size: rem(27);
    line-height: 137.3%;
    display: flex;
    align-items: center;
    color: #000000;
  }

  &__menu-list-link {
    display: flex;
    align-items: center;
    column-gap: rem(15);
    font-weight: 500;
    font-size: rem(22);
    line-height: math.div(28,22);
    padding: rem(16) rem(19);
    &.exit{
      color: #E84D28;
    }
    &:not(.exit){
      color: #C7C7C7;
      svg path{
        fill: #C7C7C7;
      }
    }
    .active & {
      color: #564696;
      background-color: #F9F0FF;
      svg path{
        fill: #564696;
      }
    }
  }

  &__menu-exit {
  }
}
