.orders {
  &__section{
    max-width: 100%;
  }
  &__blocks{
    & > div{
      max-width: 100%;
    }
  }
  &__box{
    padding: 0 rem(27) rem(18);
    @media(max-width:$mobile){
      padding: 0;
    }

  }
  &__table-box{
    overflow: auto;
  }
  &__table {
    min-width: rem(700);
    width: 100%;
    text-align: center;
    border-collapse: collapse;

    thead{
      background-color: #F1EDFF;
      color: #686868;
      th{
        padding: rem(18) 0;
        @media(max-width:$tablet){
          &:nth-child(3){
            display: none;
          }
        }
      }
    }
    tr{
      &:not(:last-child){
        border-bottom: 1px solid #D6D6D6;
      }
    }
    td{
      font-weight: 400;
      font-size: rem(15);
      line-height: 143%;
      letter-spacing: 0.018em;
      color: #1A1A1A;
      padding: rem(15) 0;
      @media(max-width:$tablet){
          &:nth-child(3){
            display: none;
          }
      }
    }
  }

  &__table-order {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: rem(9);
  }

  &__table-order-image {
    position: relative;
    padding-bottom: rem(41);
    @include adaptiveValue("padding-bottom", 41, 27);
    flex: 0 0 rem(41);
    @include adaptiveValue("flex-basis", 41, 27);
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
  }

  &__table-order-name {
    flex: 0 0 rem(150);
    @include adaptiveValue("flex-basis", 150, 80);
    padding: rem(1) 0;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
    text-align: left;
  }

  &__show-all {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(14.5) 0;
    background-color: #E8EDF2;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    font-weight: 500;
    font-size: rem(14);
    line-height: 18px;
    color: #4D505A;
    margin-top: rem(38);
    @media(max-width:$tablet){
      width: 95%;
      margin: 0 auto;
    }
    span{
      display: flex;
    }
  }
}
